*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
}
html,body{
    width: 100%;
    height: 100%;
}
@media (max-width:1440) {
    
}
.nav1{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.nav1 img{
    height: 70px;
    width: 100px;
}
.nav1 .three{
    display: flex;
    font-size: 12px;
    gap: 50px;
    margin-left: 20px;
}
.nav1 .three h1:hover{
    color: rgb(83, 29, 83);
    position: relative;
    bottom: 2px;
    cursor: pointer;
}
.nav1 .three h1::after{
    content: "|";
    margin-left: 40px;
    color: rgba(177, 53, 140, 0.486);
    text-decoration: none;
}
.nav1 .two {
    cursor: pointer;
    display: flex;
    font-size: 12px;
    gap: 20px;
    top: 15px;
    position: relative;
}
.nav1 .two h1:hover{
    position: relative;
    bottom: 2px;
    cursor: pointer;
}
.nav1 .two h1{
    text-align: center;
    width: 60px;  
}
.nav1 .two .icons{
    width: 140px;
    /* background-color: rgb(243, 0, 0); */
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    bottom: 20px;
}

.nav1 .two .icons img{
    height: 30px;
    width: 30px;
}
.nav1 input{
    width: 290px;
    height: 50px;
    border-radius:5px;
    border: solid 0.5px grey;
    padding: 0px 10px;
}







.nav2{
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    height: 50px;
    padding: 0px 30px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.116);
}
.nav2 ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    line-height: 45px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.nav2 ul :hover{
    color: rgb(2, 32, 2);
    cursor: pointer;
    border-bottom:2px solid purple;
}
.nav2 ul li .container{
    display: flex;
    position: absolute;
    background-color: #cacaca5e;
    width: 97%;
    height: 410px;
    margin: 0px 20px;
    border: 1px solid rgb(128, 128, 128);
    top: 120px;
    left: 0px;
    display: none;
    backdrop-filter: blur(5px);
}
@keyframes nav2_hover{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity:  1;
        transform: translateY(0);
    }
}
.nav2 ul li:hover .container{
    animation: nav2_hover 0.5s ease-out ;
    display: flex;
}
.nav2 ul li .container ul{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100%;
    padding: 0px 30px;
    gap: 0px;
    background-color: rgba(255, 255, 255, 0.253);
    border-bottom: 0px;
}
.nav2 ul li .container ul{
    width: 190px;
}
.nav2 ul li .container ul:nth-of-type(odd){
    background-color:rgba(128, 128, 128, 0.5);
}
.nav2 ul li .container ul:nth-of-type(even){
    background-color:rgba(255, 255, 255, 0.5);
}
.we .container ul .first{
    color: purple;
    font-size: large;
    border-bottom: 0px;
}





section .first_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    box-shadow: 0px 0px 15px rgb(245, 245, 245);
}
.first_container .left, .right{
    height: 50vh;
    width: 80vh;
    background-color: rgb(245, 245, 245);
}
.left{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left h1{
    font-size: 40px;
    color: #471440;
}
.fce{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 15px white;
}
.fce div{
    display: flex;
}
.first_container .fce{
    display: flex;
    /* background-color: rebeccapurple; */
    justify-content: space-between;
}
.fce .a, .b, .c{
    gap: 10px;
}
.download{
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(102, 59, 102);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    color: white;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 100%;
    height: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text hr{
    width: 80%;
}
.text h1{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 40px;
    position: absolute;
    font-size: 40px;
    color: rgb(65, 14, 65);
    background-color: white;
}


.second_container{
    display: flex;
    margin-top: 75px;
    height: 70vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.second_container img{
    height: 100%;
    width: 80%;
    border-radius: 10px;
}
.content{
        position: absolute;
        right: 150px;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 48px; 
}
.content h1{
    font-size: 40px;
    color: rgb(54, 13, 54);
}
.content .down_img{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 52px;
    gap: 30px;
}
 .content img{
    width: 200px;
    height: 50px;
 }
 .content img:nth-of-type(1){
    cursor: pointer;
 }
 .content img:nth-of-type(2){
    cursor: pointer;
 }

 aside{
    /* border: solid 0.2px grey; */
    padding: 0px 0px;
    margin-top: 90px;
    margin-left: 15px;
    width: 300px;
    height: 550px;
    /* background-color: red; */
 }
 aside .contents_1{
    display: flex;
    flex-direction:column;
 }
 .contents_1 .fil{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
 }
 .contents_1 .aside_check{
    gap: 20px;
    display: flex;
    flex-direction: column;
 }
 .aside_check .one{
    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: flex;
    gap: 10px;
 }
 #sm{
    color: rgb(83, 26, 83);
    margin: 5px 20px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 #pdfu{
    left: 10px;
    position: relative;
    bottom: 30px;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #rel{
    font-size: 15px;
    border: 1px solid rgba(172, 172, 172, 0.329);
    border-radius: 5px;
    font-weight: 100;
    color: #a894a6;
    height: 40px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 15px;
    cursor: pointer;
 }
 .input{
    align-items: center;
    border: solid 0.2px rgba(180, 180, 180, 0.623);
    display: flex;
 }
.input img{
    color: rgba(156, 156, 156, 0.247);
    height: 35px;
    width: 35px;
}

 #rel img{
    position: relative;
    right: -120px;
    top: 6px;
    width: 15px;
    height: 15px;
 }
 .contents_1{
    padding: 20px 20px;
    border: solid 1px rgba(172, 172, 172, 0.329);
    border-radius: 5px;
    gap: 20px;
 }
 .contents_1 h1{
    align-items: center;
    display: flex;
    justify-content: space-between;
 }
 .contents_1 h1 img{
    width: 15px;
    height: 15px;
 }
 .contents_1 .inp{
    /* width: 90%; */
    height: 40px;
    padding: 20px;
    /* border-radius: 5px; */
    border: none;
 }
 .genders{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
 }
 .genders h1{
    padding: 5px 10px;
    border: solid 1px;
    border-radius: 20px;
    margin: 0px 10px ;
 }